<!-- SCORES -->
<div class="block block_center block_wide">
    <div class="block__title">Best GAMERS</div>
    <table class="table">
        <thead>
            <tr class="table_border">
                <th>#</th>
                <th>Username</th>
                <th>Scope</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<Scores.length; i++) { %>
            <tr>
                <th><%= Scores[i].place %></th>
                <th><%= Scores[i].user %></th>
                <th><%= Scores[i].score %></th>
            </tr>
            <% } %>
            <tr>
                <th><%= User.place %></th>
                <th>YOU</th>
                <th><%= User.score %></th>
            </tr>
        </tbody>
    </table>
</div>
<!-- SCORES -->
